@import url('https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended');
@import url('https://db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
body{
  font-family: "Monument Extended", sans-serif  !important;
  padding-bottom:180px;
}
button{
  transition: 0.5s;
}